style.
	h1{
		text-align: center;
	}
	blockquote{
		padding-left : 150px;
		padding-top : 50px;
		padding-bottom : 50px;
	}
	
h1 Url Shortener service
blockquote 
	h3 User Stories
	ol
		li   I can pass a URL as a parameter and I will receive a shortened URL in the JSON response.
		li 	 If I pass an invalid URL that doesn't follow the valid http://www.example.com format, the JSON response will contain an error instead.
		li   When I visit that shortened URL, it will redirect me to my original link..
h4 Example usage:
code https://localhost:3000/new/"<site address including http or https>" 
br
code https://localhost:3000/1234			